
{% extends "layouts/base.html" %}

{% block TITLE %} • Contact{% endblock %}

{% block HEAD %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block CONTENT %}
<div class="component-border component">
    <p class="text text-subtitle">Contact</p>

    <div class="component-border component">

        <div class="components-50-50">
            <div class="component-border component">
                <p class="text text-subtitle">Email</p>
                <p class="text"><b>8dpolcomp@gmail.com</b></p>

                <a class="button grey-button center-content flex" href="mailto:8dpolcomp@gmail.com">
                    <i class="fa-solid fa-envelope"></i>Email Me
                </a>
            </div>

            <div class="component-border component">
                <p class="text text-subtitle">Bug Reports</p>
                <p class="text">
                    Use GitHub Issues for bugs / feature requests.
                </p>

                <a class="button grey-button center-content flex"
                   href="https://github.com/haroldini/8D-PolComp/issues"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="fa-solid fa-bug"></i>Open an Issue
                </a>
            </div>
        </div>

        <p class="text" style="margin-top: 1rem;">
            If you're reporting a problem with a stored result, include your <b>Results link</b> or the <b>Test #</b>.
        </p>
        <p class="text" style="margin-top: 1rem;">
            If you're reporting a problem but don't want to submit a GitHub issue, reach out via email.
        </p>
    </div>
</div>
{% endblock %}
