<!DOCTYPE html>
<script>
    function start_test() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('instructions.instructions') }}",
            contentType:'application/json',
            data : JSON.stringify({"action": "to_test"}),
            success: function () {
                window.location = "/test";
            },
            error: function(req, err) {
                console.log("error ", err)
            }
        })
    }
</script>

{% extends "layouts/base.html" %}

{% block TITLE %} | Test{% endblock %}
{% block CONTENT %}
<div class="component">
    <p style="margin: 0;">Instructions</p>
</div>
<div class="component">
    <p>You will be shown a series of political statements, and your responses to them will be recorded. At the end of the test, your responses will be used to determine your position across eight ideological axes.</p>
</div>
<div class="component flex">
    <button class="button blue-button" onclick="start_test()">Continue</button>
</div>
{% endblock %}


