<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>8D-PolComp{% block TITLE %}{% endblock %}</title>
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="Flask Template">

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">

        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    </head>
    <body class="center-content">
        <div class="header center-content">
            {% include "layouts/header.html" %}
        </div>
        <div id="page" class="page center-content">
            {% block CONTENT %}{% endblock %}
        </div>
        <div class="footer center-content">
            {% include "layouts/footer.html" %}
        </div>
        <script src="" async defer></script>
    </body>
</html>