
<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FQ16MYVJQJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-FQ16MYVJQJ');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>8D-PolComp{% block TITLE %}{% endblock %}</title>
        <meta name="author" content="8D-PolComp">
        <meta name="robots" content="index, follow">
        <meta name="description" content="Explore political beliefs across 8 dimensions with the 8D-PolComp Test. This free political compass measures views on economics, social issues, and more. Get data-driven insights to understand your position on 8 ideological axes.">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo-round.ico') }}">
        <link rel="canonical" href="https://www.8dpolcomp.com{{ request.path }}">

        <!-- App CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css')}}">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..800&family=Open+Sans:wght@300..700&display=swap" rel="stylesheet">

        <!-- Icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        {% block HEAD %}{% endblock %}
    </head>

    <body class="center-content">
        <div class="header center-content">
        {% include "layouts/header.html" %}
        </div>

        <div id="page" class="page center-content">
        {% block CONTENT %}{% endblock %}
        </div>

        <div class="footer center-content">
        {% include "layouts/footer.html" %}
        </div>

        <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

        {% block SCRIPTS %}{% endblock %}
    </body>
</html>
