
.radio-selector {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey);
    color: var(--black);
    font-weight: 600;
    transition: opacity 0.1s ease background-color 0.1s ease;
}
.radio-selector:focus {
    text-decoration: solid underline 4px;
}
.radio-selector:hover {
    opacity: 75%;
}
.radio-selector:checked {
    background-color: var(--blue);
}
.radio-container {
    width: 25%;
    height: 100%;
}
#any::after {
    position: relative;
    content: "Any";
    font-size: 0.75rem;
    left: 0;
    top: 0;
}
#all::after {
    position: relative;
    content: "All";
    font-size: 0.75rem;
    left: 0;
    top: 0;
}
#random::after {
    position: relative;
    content: "Random";
    font-size: 0.75rem;
    left: 0;
    top: 0;
}
#recent::after {
    position: relative;
    content: "Recent";
    font-size: 0.75rem;
    left: 0;
    top: 0;
}
.color-box-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    min-height: 100%;
    border-radius: var(--radius-1);
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--black);
    transition: color 0.1s ease, background-color 0.1s ease, opacity 0.1s ease, outline-offset 0.1s ease, outline 0.1s ease; 
}
.color-box {
    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;

    width: 2.5rem;
    height: 1.25rem;

    border: 0;
    padding: 0;

    margin: 0;
    margin-left: var(--spacing-4);

    border-radius: var(--radius-2);
    background: transparent;

    overflow: hidden;

    transition: background-color 0.1s ease;
}

/* Chrome / Safari / Edge */
.color-box::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0.25rem;
}

.color-box::-webkit-color-swatch {
    border: 0;
    border-radius: 0.25rem;
}

/* Firefox */
.color-box::-moz-color-swatch {
    border: 0;
    border-radius: 0.25rem;
}
.color-box-label:focus-within {
    outline: var(--blue) solid 2px;
    outline-offset: 4px;
}
.input-box-container {
    max-width: 30rem;
    height: 3rem;
    min-height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    margin: auto;
    display: flex;
    border-radius: var(--radius-2);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    text-align: center;
}
.age-box {
    all: unset;
    cursor: text;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    min-height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: var(--green);
    font-weight: 600;
    color: var(--black);
    transition: background-color 0.1s ease;
}
.age-box:hover, .age-box:focus {
    background: var(--blue);
}
.age-box::placeholder {
    font-weight: 600;
    color: var(--dark-grey);
}
.a-l {
    border-top-left-radius: var(--radius-1) !important;
    border-bottom-left-radius: var(--radius-1) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.a-r {
    border-top-right-radius: var(--radius-1) !important;
    border-bottom-right-radius: var(--radius-1) !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.input-box {
    min-width: 10rem;
    max-width: 30rem;
    width: 100%;
    height: auto;
    min-height: 3rem;
    margin: auto;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    border-radius: var(--radius-1);
}
.hg-container {
    height: 24rem;
    width: 100%;
}
.hg-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4% 1fr;
    grid-template-rows: 84% 4% 12%;
}
    
.hg-div1 { grid-area: 1 / 1 / 2 / 4; }
.hg-div2 { grid-area: 2 / 1 / 3 / 4; }
.hg-div3 { grid-area: 3 / 1 / 4 / 2; }
.hg-div4 { grid-area: 3 / 3 / 4 / 4; }
.hg-div5 { 
    grid-area: 3 / 1 / 4 / 4; 
    background: linear-gradient(90deg, var(--green), var(--blue));
}
.hg-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#histogram-canvas {
    max-height: 100%;
    border-radius: var(--radius-1);
}
.pie-container {
    max-height: 40rem;
    aspect-ratio: 1;
    flex-direction: column;
}
.filterset {
    height: auto;
    overflow-y: auto;
    min-width: 300px;
    scroll-snap-align: center;
}
.filterset-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.filterset-container {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: row !important;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.filterset-grow {
    transition: max-height 0.5s ease;
    max-height: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper-25-75 {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.wrapper-25-75 > *:nth-child(odd) {
    flex: 1;
    min-width: 300px;
}
.wrapper-25-75 > *:nth-child(even) {
    flex: 2;
    min-width: 300px;
}

@media only screen and (max-width: 500px) {
    .wrapper-25-75 > *:nth-child(odd) {
        min-width: 75%;
    }
    .wrapper-25-75 > *:nth-child(even) {
        min-width: 75%;
    }
    .filterset {
        position: relative;
        max-height: auto;
        min-width: 250px;
    }
}

#select-histogram * {
    color: var(--white);
    background-color: var(--black);
}
#select-histogram *:hover {
    color: var(--black);
    background-color: var(--blue);
}
#question_text {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-btn {
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    color: var(--blue);
    background: var(--dark-black);
    outline-color: var(--blue) !important;
    transition: color 0.1s ease, background-color 0.1s ease, opacity 0.1s ease, outline-offset 0.1s ease, outline 0.1s ease; 
}
.arrow-btn:hover {
    background: var(--blue);
    color: var(--black);
    text-decoration: none;
}

.arrow-btn:focus {
    box-shadow: none !important;
    outline: none;
}
.arrow-btn:focus-visible {
    box-shadow: none !important;
    outline: var(--blue) solid 2px;
    outline-offset: 2px;
}
.arrow-btn:focus:not(:focus-visible) {
    outline: none;
}
