
.all-unset {
    all: unset;
}
.width-100 {
    width: 100%;
}
.rounded {
    border-radius: var(--spacing-2) !important;
}
.center-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    vertical-align: middle;
}
.align-top {
    align-items: flex-start;
}
.grow {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.5s ease ;
    align-items: flex-end;
    max-height: 0;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.green {
    color: var(--green) !important;
}
.blue {
    color: var(--blue) !important;
}
.wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    column-gap: var(--spacing-3);
}
.wrapped {
    display: flex;
    width: 100%;
    min-width: 175px;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper .wrapped {
    flex: 1;
    overflow: visible;
}
.text {
    padding: 0;
    margin: 0;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    width: 100%;
}
.text-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}
.header-underline {
    border-bottom: 2px solid;
    padding-bottom: var(--spacing-3);
}

.inline-link {
    cursor: pointer;
    color: var(--blue);
    font-weight: 600;
}
.inline-link:hover {
    text-decoration: 2px solid underline;
}
.link:link {
    color: inherit;
    text-decoration: none;
}
.link:visited {
    color: inherit;
}
.link:active {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}
.link:focus {
    text-decoration: solid underline 4px;
    outline: none;
}
.button {
    padding: var(--spacing-2);
    width: 100%;
    min-width: 10rem;
    max-width: 30rem;
    height: auto;
    min-height: 3rem;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    cursor: pointer;

    box-sizing: border-box;
    text-decoration: none;
    font: inherit;
    font-weight: 600;

    border-radius: var(--radius-full);
    border: none;
    outline: none;
    outline-offset: 0;
    color: var(--black);
    background: var(--green);
    transition: color 0.1s ease, background-color 0.1s ease, opacity 0.1s ease, outline-offset 0.1s ease, outline 0.1s ease; 
}
.button:hover {
    opacity: 80%;
    color: var(--black);
    text-decoration: none;
}
.button:focus {
    box-shadow: none !important;
    outline: none;
}
.button:focus-visible {
    box-shadow: none !important;
    outline: var(--blue) solid 2px;
    outline-offset: 2px;
}
.button:focus:not(:focus-visible) {
    outline: none;
}

.text-input {
    color: var(--black);
    text-decoration: none;
}
.large-link {
    font: inherit;
    font-weight: 600;
    display: block;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: var(--spacing-2);
}
.text-link {
    font: inherit;
    font-weight: 600;
    display: block;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    padding: var(--spacing-2);
}
.fade-border {
    border-image: radial-gradient(circle, var(--blue), transparent 75%);
    border-image-slice: 1;
}
.quadrant-sample {
    margin-bottom: var(--spacing-2);
}
.show-more-header {
    min-height: 10rem;
    margin-bottom: var(--spacing-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.show-more  {
    width: 100%;
    padding-top: var(--spacing-2);
    margin-top: var(--spacing-2);
    border-top: 1px solid;
}
.fade-button {
    background: linear-gradient(180deg, var(--blue), var(--green)) !important;
}
.fade-button:hover {
    opacity: 75%;
}
.blue-button {
    background-color: var(--blue) !important;
}
.grey-button {
    background-color: var(--grey) !important;
    outline-color: var(--grey) !important;
}
.green-button {
    background-color: var(--green) !important;
    outline-color: var(--green) !important;
}
.green-button:hover {
    opacity: 75%;
}

.narrow-button {
    width: 50%;
    max-width: 15rem;
}
.scroll-second > .component {
    flex: 1; 
}
.scroll-second > .component:nth-child(2) {
    position: relative;
    overflow: auto;
}
.inner-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: var(--spacing-4);
}
.inner-absolute:nth-last-child(0) {
    padding-bottom: 10rem;
    margin-bottom: 10rem;
}
input::-webkit-color-swatch {
    border: none;
    border-radius: var(--spacing-2);
    padding: var(--spacing-2);
  }
input::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: var(--spacing-2);
    padding: var(--spacing-2);
}
input[type="date"] {
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-position: right;
    background-size: auto;
}

.hidden {
    display: none;
}
.disabled {
    background: var(--dark-grey) !important;
    transition: background-color 0s ease;
    cursor: not-allowed;
}
.disabled:hover {
    background: var(--color-danger) !important;
}
.disabled-text {
    color: var(--dark-grey) !important;
    transition: color 0s ease;
    cursor: not-allowed;
}
.disabled-text:hover {
    color: var(--color-danger) !important;
}
.fill {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable-x {
    overflow-x: auto;
}
.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spinner_9y7u{
    animation:spinner 2.4s ease-in-out infinite;
    animation-delay:-2.4s;
}
.spinner_DF2s{animation-delay:-1.6s}
.spinner_q27e{animation-delay:-.8s}
@keyframes spinner{
    8.33%{x:13px;y:0px}
    25%{x:13px;y:0px}
    33.3%{x:13px;y:13px}
    50%{x:13px;y:13px}
    58.33%{x:0px;y:13px}
    75%{x:0px;y:13px}
    83.33%{x:0px;y:0px}}


    @keyframes spin-fa-icon {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
    .spin-fa-icon::before {
        content: "\f2f9";
        display: inline-block;
        animation: spin-fa-icon 1s linear infinite;
    }
