<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block TITLE %}Index{% endblock %}
{% block CONTENT %}
<div class="components">
    <div class="component">
        <p class="text">8D PolComp is a political identity test that tries to quantify your ideology on eight axes. Click the button below to join 5807 others and find where you stand politically. Alternatively, scroll down to read more about how it works.</p>
        <button class="button">Take the Test</button>
    </div>
    <div class="component">
        <p class="text">Though 8DPolComp is intended to avoid bias, it's not perfect, and shouldn't be taken too seriously. It may be more useful to measure your ideology relative to other participants, rather than relative to certain labels that the test prescribes to you.</p>
    </div>
    <div class="component">
        <p class="text">Participants can choose to have their results recorded with some optional demographic information, such as their nationality, party allegiance, or self-identified ideology. Visit 'All Results' to see a filterable visualisation of all the results recorded so far.</p>
        <button class="button">Data</button>
    </div>
</div>
{% endblock %}
