<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block TITLE %} | Test{% endblock %}
{% block CONTENT %}
<div class="component">
    <progress></progress>
</div>
<div class="component">
    <p>The environment cannot accommodate the current human population without a reduction in consumption.</p>
</div>
<div class="component flex">
    <button class="button blue-button">Strongly Agree</button>
    <button class="button blue-button">Agree</button>
    <button class="button fade-button ">Neutral / Not Sure</button>
    <button class="button green-button ">Disagree</button>
    <button class="button green-button">Strongly Disagree</button>
    <button class="button grey-button">Back</button>
</div>
{% endblock %}
